<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.verifit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"

        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity"/>
        <activity
            android:name="com.example.verifit.ChartsActivity"
            android:label="Charts"/>
        <activity
            android:name="com.example.verifit.CustomExerciseActivity"
            android:label="New Exercise"/>
        <activity
            android:name="com.example.verifit.ExercisesActivity"
            android:label="Exercises" />
        <activity
            android:name="com.example.verifit.DayActivity"
            android:label="Day" />
        <activity
            android:name="com.example.verifit.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MeActivity"/>
        <activity
            android:name="com.example.verifit.CalculatorActivity"
            android:label="Plate Calculator" />
        <activity
            android:name="com.example.verifit.MeActivity"
            android:label="Me" />
        <activity
            android:name="com.example.verifit.addexercise.AddExerciseActivity"
            android:label="Add Exercise" />
        <activity
            android:name="com.example.verifit.DiaryActivity"
            android:label="Diary" />
        <activity
            android:name="com.example.verifit.Compose_AddExerciseActivity"
            android:label="Compose"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar"
            />
        <activity
            android:name="com.example.verifit.main.Compose_MainActivity"
            android:label="Main"
            android:exported="true"
            android:theme="@style/AppThemeNoAction"
            />
        <activity
            android:name="com.example.verifit.exercises.Compose_ExercisesActivity"
            android:label="Main"
            android:exported="true"
            android:theme="@style/AppThemeNoAction"
            />
        <activity
            android:name="com.example.verifit.customexercise.Compose_CustomExerciseActivity"
            android:label="Main"
            android:exported="true"
            android:theme="@style/AppThemeNoAction"
            />
        <activity
            android:name="com.example.verifit.diary.Compose_DiaryActivity"
            android:label="Diary"
            android:exported="true"
            android:theme="@style/AppThemeNoAction"
            />
        <activity
            android:name="com.example.verifit.singleday.Compose_DayActivity"
            android:label="Day"
            android:exported="true"
            android:theme="@style/AppThemeNoAction"
            />
        <activity
            android:name="com.example.verifit.charts.Compose_ChartActivity"
            android:label="Charts"
            android:exported="true"
            android:theme="@style/AppThemeNoAction"
            />
        <activity
            android:name="com.example.verifit.me.Compose_MeActivity"
            android:label="Charts"
            android:exported="true"
            android:theme="@style/AppThemeNoAction"
            />
        <activity
            android:name="com.example.verifit.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>